<div class='col-lg-2 col-sm-2 col-xs-1 cork'>
</div>
<div class='col-lg-8 col-sm-7 col-xs-7 single'>
	<div class='post-stuffing'>
		<div class='welcome'>Hello everybody! </div>
<div class=' welcome-content'>
	This is my own blog which I created for fun and posting some stuff , mainly related to programming , 
	which you may find interesting. 

	I'm not very experienced in this field so if you have any advice or any sensible critics 
	don't hesitate to send me an email or leave a comment below the related article.

	Also, I should warn you that I have little experience in web-design and I don't any good taste
	or talent for it. 

	I'm not from the US and I'm not interested in any political problems in the world,
	Thus any comments about it , or links in the email field will not be accepted. 

	I am always ready to reply to those who would like to propose me some job related to 
	web-site making or back-end development.

	The information posted on this site is destined for entertainment or informational purposes. 

</div>

	</div>
</div>
